<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizheping.mapper.AuthInfoMapper">
    <resultMap id="BaseResultMap" type="com.jizheping.api.entity.RealAuth">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="realname" property="realname" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="birthDate" property="birthDate" jdbcType="VARCHAR" />
        <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="image1" property="image1" jdbcType="VARCHAR" />
        <result column="image2" property="image2" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP" />
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP" />

        <association property="applier" javaType="Logininfo" >
            <id column="a_id" property="id"/>
            <result column="a_username" property="username"/>
        </association>
        <association property="auditor" javaType="Logininfo" columnPrefix="at_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <sql id="base_column">
        ra.id, ra.realname, ra.sex, ra.birthDate, ra.idNumber, ra.address, ra.state, ra.image1,ra.image2,ra.remark,
        ra.auditTime, ra.applyTime,a.id as a_id,a.username as a_username,a2.id as at_id,a2.username as at_username
    </sql>

    <select id="getAuthInfoByapplierId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="base_column" />
        from realauth ra left join logininfo a on ra.applier_id = a.id left join logininfo a2 on ra.auditor_id = a2.id
        where ra.applier_id = #{id,jdbcType=BIGINT}
    </select>
</mapper>